<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:fragment="head">
	    <meta charset="UTF-8">
	    <meta name="description" content="">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	
	    <!-- Title  -->
	    <title>DevThree - PetShop</title>
	
	    <!-- Favicon  -->
	    <link rel="icon" th:href="@{/images/core-img/favicon.ico}"/>
	
	    <!-- Core Style CSS -->
	    <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css"/>
	    <link rel="stylesheet" th:href="@{/css/core-style.css}" type="text/css"/>
	
	</head>
	<body>
	</body>
</html>