<html>
<head>
<title>Reading List</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link rel="stylesheet" href="/css/bootstrap.min.css"
	th:src="@{/css/bootstrap.min.css}" />
<link rel="stylesheet" href="../css/style.css" th:src="@{../css/style.css}" />

<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" />

<!-- ##### jQuery (Necessary for All JavaScript Plugins) ##### -->
<script type="text/javascript"
	th:src="@{/js/jquery/jquery-2.2.4.min.js}"></script>
<!-- Bootstrap js -->
<script type="text/javascript" th:src="@{/static/js/bootstrap.min.js}"></script>

</head>
<body>

	<div class="form-group">
		<div class="col-md-6 offset-md-3">
			</br>
			<h4>
				Adicione um novo fornecedor:
				</h3>
				<form form action="/fornecedores" id="formulario-cadastro-fornecedores" th:action="@{/fornecedores}" method="POST">
					<table class="table">
							<tr class="row">
								<td class="col-md-1 d-flex align-items-center">
									<label for="title">Nome:</label> 
								</td>
								<td class="col-md-11 align-middle">
									<input class="form-control" type="text" name="nome" size="50" placeholder="Nome do fornecedor"></input>
								</td>
							</tr>
							<tr class="row">
							<td class="col-md-1 d-flex align-items-center">
								<label for="rua">Rua:</label>
							</td>
							<td class="col-md-4 align-middle">
								<input class="form-control" type="text" name="logradouro" size="15" placeholder="Rua"></input>
							</td>
							<td class="col-md-1 d-flex align-items-center">
								<label for="numero">Número:</label>
							</td>
							<td class="col-md-2 align-middle">
								<input class="form-control" type="text" name="numero" size="15" placeholder="Número"></input> 
							</td>
							<td class="col-md-1 d-flex align-items-center" >
								<label for="bairro">Bairro:</label>
							</td>
							<td class="col-md-3 align-middle" >
								<input class="form-control" type="text" name="bairro" size="15" placeholder="Bairro"></input>
							</td>
						</tr>
						<tr class="row">
							<td class="col-md-1 d-flex align-items-center">
								<label for="cidade">Cidade:</label>
							</td>
							<td class="col-md-6 d-flex align-items-center">
								<input class="form-control" type="text" name="cidade" size="15" placeholder="Cidade"></input>
							</td>
							<td class="col-md-1 d-flex align-items-center">
								<label for="CEP">CEP:</label>
							</td>
							<td class="col-md-4 d-flex align-items-center d-flex justify-content-end">
								<input class="form-control" type="text" name="CEP" size="15" placeholder="CEP"></input><br /> 
							</td>
						</tr>
						
						<tr class="row">
							<td class="col-md-1 d-flex align-items-center">
								<label for="telefone_1">Telefone:</label>
							</td>
							<td class="col-md-5 d-flex align-items-center">
								<input class="form-control" type="text" name="telefone_1" size="15" placeholder="Telefone"></input>
							</td>
							<td class="col-md-1 d-flex align-items-center">
								<label for="telefone_2">Celular:</label>
							</td>
							<td class="col-md-5 d-flex align-items-center">
								<input class="form-control" type="text" name="telefone_2" size="15" placeholder="Celular"></input><br /> 
							</td>
						</tr>
						
						<tr class="row">
							<td class="col-md-2 d-flex align-items-center">
								<label for="obsrvacao">Observação:</label>
							</td>
							<td class="col-md-10 align-middle">
								<textarea class="form-control" name="observacao" cols="0"
									rows="3" placeholder="Descreva aqui as observações sobre o fornecedor">
								</textarea>
							</td>
						</tr>
						
						<tr class="row">
							<td class="col d-flex justify-content-end">
								<input type="submit" class="btn btn-primary" value="Cadastrar Fornecedor" name="cadastrarFornecedor"></input>
							</td>
						</tr>
					</table>
				</form>
		</div>
	</div>
	
	</hr>

	<div class="col-md-6 offset-md-3">
		<div class="container">
			<h4>Fornecedores</h4>
			<table class="table text-center table-hover">
				<thead>
					<tr class="row">
						<td class="col-1">#</td>
						<td class="col-3">Nome</td>
						<td class="col-3">Bairro</td>
						<td class="col-3">Telefone</td>
						<td class="col-2">Remover</td>
					</tr>
				</thead>
				<tbody>
					<tr class="row" th:each="fornecedor : ${fornecedores}">
						<td class="col-1 align-middle" th:text="${fornecedor.id_Fornecedor}"></td>
						<td class="col-3 align-middle" th:text="${fornecedor.nome}"></td>
						<td class="col-3 align-middle" th:text="${fornecedor.bairro}"></td>
						<td class="col-3 align-middle" th:text="${fornecedor.telefone_1}"></td>



						<td class="col-2 align-middle">

							<form action="#" th:action="@{/fornecedor/excluir}" method="post">
								<input type="hidden" name="codigoLivro"
									th:value="${fornecedor.id_Fornecedor}" />
								
								<button type="submit" class="mdl-chip__action"
									onclick="return confirm('Deseja realmente excluir esse registro?');">
									<i class="fas fa-trash-alt"></i>
								</button>
								
							</form>
						</td>

					</tr>
				</tbody>
			</table>
		</div>
	</div>

</body>