<html>
<head>
<title>Materiais</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link rel="stylesheet" href="/css/bootstrap.min.css"
	th:src="@{/css/bootstrap.min.css}" />
<link rel="stylesheet" href="/css/style.css" th:src="@{/css/style.css}" />

<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" />

<!-- ##### jQuery (Necessary for All JavaScript Plugins) ##### -->
<script type="text/javascript" th:src="@{/js/jquery/jquery-2.2.4.min.js}"></script>
<!-- Bootstrap js -->
<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{js/validator.min.js}"></script>

<script type="text/javascript">
$(document).ready(function(){
    $("input").blur(function(){
     if($(this).val() == "")
         {
             $(this).css({"border" : "1px solid #F00", "padding": "2px"});
         }else {
        	 $(this).css({"border" : "1px solid #CCCCCC", "padding": "2px"});
         }
    });
    $("textarea").blur(function(){
        if($(this).val() == "")
            {
                $(this).css({"border" : "1px solid #F00", "padding": "2px"});
            }else {
           		 $(this).css({"border" : "1px solid #CCCCCC", "padding": "2px"});
            }
       });
    $("#inserirMaterial").click(function(){
     var cont = 0;
    $("#formulario-cadastro-materiais input").each(function(){
         if($(this).val() == "")
             {
                 $(this).css({"border" : "1px solid #F00", "padding": "2px"});
                 cont++;
             }
        });
     if(cont == 0)
         {
             $("#formulario-cadastro-materiais").submit();
         }
    });
});
</script>

</head>
<body>
	<div class="form-group">
		<div class="col-md-6 offset-md-3">
		<div layout:include="Mensagem"></div>
			<br>
				<form data-toggle="validator" action="/lancarNotas/inserirMaterial" id="inserirMaterial " 
				th:action="@{/lancarNotas/inserirMaterial}" th:object="${Material}" method="POST">
					<table class="table">
							<tr class="row">
									<td class="col-7"><h4>Informe para qual fornecedor inserir a nota:</h4></td>
									<td class="col-5 d-flex justify-content-end">
										<select class="form-control"  name="fornecedor" id="fornecedor">
											  <option value="#">Selecione um fornecedor</option>
											  <option th:each="fornecedor : ${fornecedores}" name="fornecedor" th:value="${fornecedor.id_Fornecedor}" th:text="${fornecedor.nome}"></option>
										</select>
									</td>
							</tr>
							<tr class="row">
								<td class="col-md-1 d-flex align-items-center">
									<label for="title">Nome:</label> 
								</td>
								<td class="col-md-11 align-middle">
									<input class="form-control" type="text" name="nome" size="50" placeholder="Nome do material"
									data-error="Informe o nome corretamente"></input> <form:errorspath="nome" cssStyle="color:red"/>
									<div class="help-block with-errors"></div>
								</td>
							</tr>
						<tr class="row">
							<td class="col-md-2 d-flex align-items-center">
								<label for="quantidade">Quantidade:</label>
							</td>
							<td class="col-md-2 align-middle">
								<input class="form-control" type="text" name="quantidade" placeholder="Quantidade" size="15"></input>
							</td>
							<td class="col-md-1 d-flex align-items-center">
								<label for="metrica">Unidade:</label>
							</td>
							<td class="col-md-2 align-middle">
								<input class="form-control" type="text" name="metrica" size="15" placeholder="metrica"></input> 
							</td>
							<td class="col-md-2 d-flex align-items-center" >
								<label for="valor_unitario">Valor unitário:</label>
							</td>
							<td class="col-md-2 align-middle" >
								<input class="form-control" type="text" name="valor_unitario" size="15" placeholder="valor_unitario"></input>
							</td>
						</tr>
												
						<tr class="row">
							<td class="col-md-1 d-flex align-items-center">
								<label for="desconto">Desconto:</label>
							</td>
							<td class="col-md-5 d-flex align-items-center">
								<input class="form-control" type="text" name="desconto" size="15" placeholder="Desconto"></input>
							</td>
							<td class="col-md-1 d-flex align-items-center">
								<label for="data">Data:</label>
							</td>
							<td class="col-md-5 d-flex align-items-center">
								<input class="form-control" type="date" name="data" size="15" placeholder="Data"></input><br /> 
							</td>
						</tr>
						
						<tr class="row">
							<td class="col-md-2 d-flex align-items-center">
								<label for="descricao">Observação:</label>
							</td>
							<td class="col-md-10 align-middle">
								<textarea class="form-control" name="descricao" cols="0" type="text"
									rows="3" placeholder="Descreva aqui as observações sobre o fornecedor" >
								</textarea>
							</td>
						</tr>
						
						<tr class="row">
							<td class="col-4 d-flex justify-content-start"><p>Informe para qual fornecedor inserir a nota:</p></td>
							<td class="col-4 d-flex justify-content-start">
										<select class="form-control"  name="fornecedor" id="fornecedor">
											  <option value="#">Selecione um fornecedor</option>
											  <option th:each="fornecedor : ${listaFornecedores}" name="fornecedor" th:value="${fornecedor.id_Fornecedor}" th:text="${fornecedor.nome}"></option>
										</select>
							</td>
							<td class="col-4 d-flex justify-content-end">
								<input id="inserirMaterial" type="submit" class="btn btn-primary" name="inserirMaterial" value="Inserir material"></input>
							</td>
						</tr>
					</table>
				</form>
		</div>
	</div>
	</hr>

<div class="container">
		<h4>
			Itens
			</h2>
			<table class="table text-center table-hover">
				<thead>
					<tr class="row">
						<td class="col-3">Nome</td>
						<td class="col-2">Métrica</td>
						<td class="col-2">Quantidade</td>
						<td class="col-2">Valor unitário</td>
						<td class="col-2">Total</td>
						<td class="col-1">Remover item</td>
					</tr>
				</thead>
				<tbody>
					<tr class="row" th:each="itens : ${listaItens}">
						<td class="col-3 align-middle" th:text="${itens.nome}"></td>
						<td class="col-2 align-middle" th:text="${itens.metrica}"></td>
						<td class="col-2 align-middle" th:text="${itens.quantidade}"></td>
						<td class="col-2 align-middle" th:text="${itens.valor_unitario}"></td>
						<td class="col-2 align-middle" th:text="${itens.valorTotal}"></td>
						<td class="col-1 align-middle" th:text="${itens.valorTotal}"></td>
					</tr>
				</tbody>
			</table>
	</div> 

	<hr />
	
	<footer class="footer navbar-fixed-bottom">
	
		<div>TESTE</div>
	
	</footer>
	
</body>

</html>